header{
    text-align: center;
}

h1 {
    font-size: 30pt;
    font-weight: bold;
}

.subtitle {
    color: #757575;
    font-size: 10pt;
}

#container{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#result-maker-block{
    height: 300px;
}

.left-right-wrap {
    display: grid;
    grid-template-areas: "first second";
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.left {
    grid-area: first;
}
.right{
    grid-area: second;
}
#result{
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    border: double 5px #4ec4d3;
}
.maker-btn{
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    width: 100%;
    height: 47.5%;
    background: linear-gradient(to bottom right, rgb(230, 191, 64), #c57009);
    color: #fff;
    text-decoration: none;
}

.btn_icon {
    font-size: 25pt;
    font-weight: bold;
}
.btn_icon-share{
    font-size: 25pt;
}

#vane11ope_share{
    width: 100%;
    height: 100%;
}

.share-btn-Twitter{
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    width: 100%;
    height: 47.5%;
    margin-top: 3%;
    background: linear-gradient(to bottom right, rgb(64, 180, 230), #0974c5);
    color: #fff;
    text-decoration: none;
}

.share-btn-line{
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    width: 100%;
    height: 47.5%;
    margin-top: 3%;
    background: linear-gradient(to bottom right, rgb(64, 230, 89), #05830b);
    color: #fff;
    text-decoration: none;
}

.vane11ope_btn{
    margin-top: 20px;
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
    height: 100px;
    margin-top: 3%;
    color: #FFF;
    font-size: 20pt;
    background: linear-gradient(to bottom right, rgb(64, 180, 230), #0974c5);
}


@media screen and (max-width: 767px) {
    .left-right-wrap:not(.force-split) { 
        grid-template-areas: "first" "second";
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }   
    
    #result-maker-block {
        height: auto;
        grid-template-rows: 10em 1fr;
    }
}
